# npm
nhat_wallpaperscraft_micro/node_modules
nhat_wallpaperscraft_micro/package-lock.json
scripts/vendor
*.log
*.gz

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore
