<div class="container-fluid">
    <div class="container my-5">
        <footer>
            <div class="container p-4">
                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-4">
                        <h5 class="mb-3">nwallpaper words</h5>
                        <p>
                            https://nwallpaper.deta.dev/ is a small application
                            that was created by NL team while we was practicing express js.
                            https://wallpaperscraft.com/ is original source content.
                            If you already like wallpapers, let's visit original site to feed free experiences and download/
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-12 mb-4">
                        <h5 class="mb-3">faqs</h5>
                        <p>
                            Are we in maintain this application? - No. <br>
                            Is app source code open source? - Yes, in the future, we will public source code on github. <br>
                            Can I request new feature? - Sorry we dont have plan developing this app.
                        </p>
                    </div>
                </div>
            </div>
            <div class="text-center p-3">
                © 2022 Copyright:
                <a class="text-dark" href="https://nwallpaper.deta.dev/">nwallpaper.deta.dev</a>
            </div>
        </footer>

    </div>
</div>